* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(to right, rgb(204, 248, 181) , rgb(251, 251, 181));
    padding: 25px;
    
}


/* zuzana */

.container {
  display: flex;
  flex-direction: column;

}

.btn {
    background-color: rgb(186, 248, 221);
    width: 15vh;
    height: 15vh;
    border-radius: 15px;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    margin: 15px;

}
.btn:hover {
    background-color: rgb(150, 232, 247);
  }
  #buttons{
    display:flex;
    justify-content:center;
    flex-direction: row;
    padding-bottom: 50px;
  }

h1{
    text-align: center;
    font-size: 100px;
    text-shadow: 6px 6px 8px #ff0000, 10px 10px 8px rgb(254, 174, 1), 15px 15px 8px yellow;
    
}

 
  .searchbar {
   width: 7vh;
   height: 7vh;
   border: none;
   background-color:rgb(204, 248, 181);
   
  }
  #searchbar{
    display: flex;
   flex-direction: column;
   justify-content: flex-start;
  }
  .fa-solid {
    font-size: xx-large;
  }

  .logo img{
    width: 70vh;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .logo{
    display:flex;
    justify-content:center;
  }


/*FOOD*/

.gallery {
  width: 300px;
  margin: 15px;
  border: 3px solid #0b0a0a;
  background-color: white;

  
}
.FoodGallery img{
  
  height: 300px;
  width: 295px;
  }

.FoodGallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/*DRINKS*/

.drinkgallery {
  width: 300px;
  background-color: white;
  margin: 15px;
  border: 3px solid #060505;
}

.DrinksSection{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


  

.drinkgallery img{
  height: 300px;
  width: 295px;
}
  


/*DESSERTS*/

.dessertgallery {
  margin: 15px;
  border: 3px solid #0a0909;
  background-color: white;
}
.DessertSection img{
  
  
  height: 300px;
}
  
.DessertSection{
  display: flex;
  flex-direction: row;
  height: 300px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


/* leslie */

.container .gallery:hover img{
  transform: scale(1.2);
}

.container .drinkgallery:hover img{
  transform: scale(1.2);
}

.container .dessertgallery:hover img{
  transform: scale(1.2);
}






