* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 90%;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("background_img.jpg") ;
   
    padding: 25px;
    
}


/* zuzana */

.container {
  display: flex;
  flex-direction: column;

}
b{
  font-size: larger;
}

.btn {
    background-color: rgb(186, 248, 221);
    width: 15vh;
    height: 15vh;
    border-radius: 15px;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    margin: 15px;

}
.btn:hover {
    background-color: rgb(150, 232, 247);
  }
  #buttons{
    display:flex;
    justify-content:center;
    flex-direction: row;
    padding-bottom: 50px;
  }

  #cart {
    margin-top: 20px;
    float: right;
    margin-right: -60px;
    width: 200px;
    position: fixed;
    padding: 20px  40px;
    cursor: pointer;
    z-index: 1;
    right: 90px;
    color: black;
    background-color:white;
    border: 3px solid yellow;
    border-radius: 30px;

    background-color: #ccc;
    
  }
        
  .cartItems {
    background-color: yellow;
    width: 200px;
  }
  
  .dark-mode {
    background-color: #333;
    color: #fff;
  }

  h2 .bi{
    font-size: 32px;
    font-weight: bold;
  }
    
  
 
  .checkout{
    width: 100px;
    height: 30px;
    background-color: rgb(186, 248, 221);
    border: 2px solid rgb(9, 9, 9);
    font-size: larger;
    border-radius: 10px; 
    cursor: pointer;
    margin-top: 15px;
  }
  .checkout:hover {
    background-color: rgb(150, 232, 247);
  }

h1{
    text-align: center;
    font-size: 100px;
    text-shadow: 6px 6px 8px #ff0000, 10px 10px 8px rgb(254, 174, 1), 15px 15px 8px yellow;
    
}
h2 .bi{
  font-size: 32px;
  font-weight: bold;
}


  .logo img{
    width: 50vh;
    padding-top: 50px;
    padding-bottom: 50px;
    
    
  }
  

  .logo{
    display:flex;
    justify-content:center;
    -webkit-filter: drop-shadow(0px 0px 25px black);
    filter: drop-shadow(white) ;
  }


/*FOOD*/

.gallery {
  width: 300px;
  margin: 15px;
  border: 3px solid #0b0a0a;
  border-radius: 5px;
  background-color: white;
  text-align: center;

  
}
.FoodGallery img{
  
  height: 300px;
  width: 295px;
  }

.FoodGallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/*DRINKS*/

.drinkgallery {
  width: 300px;
  background-color: white;
  margin: 15px;
  border: 3px solid #060505;
  border-radius: 5px;
  text-align: center;
}

.DrinksSection{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


  

.drinkgallery img{
  height: 300px;
  width: 295px;
}
  


/*DESSERTS*/

.dessertgallery {
  margin: 15px;
  border: 3px solid #0a0909;
  border-radius: 5px;
  background-color: white;
  text-align: center;
  
}
.DessertSection img{
  
  
  height: 300px;
}
  
.DessertSection{
  display: flex;
  flex-direction: row;
  height: 300px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


.addToCartBtn{
  width: 80px;
  height: 25px;
  background-color: rgb(186, 248, 221);
  border: 2px solid grey;
  border-radius: 10px;
  display:flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 5px;

}

.addToCartBtn:hover {
    background-color: rgb(150, 232, 247);
  }



/* leslie */



 .drinkgallery:hover {
  transform: scale(1.2);
}

.dessertgallery:hover {
  transform: scale(1.2);
} 

.gallery:hover{
  transform: scale(1.2);
}

footer {
  position: relative;
  bottom: 0;
  width: 111%;
  height: 130px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 200px;
  

}

